<div class="container">
    <h1>Welcome to Citizen Engagement System</h1>
    <p>A platform for citizens to submit complaints, track issues, and receive responses </p>
      <p>from government agencies for improved public service delivery.</p>
    <div class="buttons">
      <button id="loginBtn" (click)="navigateToLogin()" routerLinkActive="active">Login</button>
      <button id="createAccountBtn" (click)="navigateToCreateAccount()" routerLinkActive="active">Create Account</button>
    </div>
  </div>